@using TeamSearch.Client.Components
@inherits LayoutComponentBase
<div class="page">
    <main>
        <!-- App header wrapper to avoid using the library FluentHeader tag directly -->
        <AppHeader>
            Sport Statistics
        </AppHeader>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
}

