@page "/notfound"
@layout MainLayout
@inject NavigationManager Nav

<h3>Not Found</h3>
<p>Sorry, the content you are looking for does not exist.</p>

@code {

    protected override void OnInitialized()
    {
        Nav.NavigateTo("/search", true);
    }

}
